body{
  background-image: url("thought-catalog-214785-unsplash.jpg");
  background-size: cover;
  /*background: #fff;*/

}

.headerContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 198, 139, 0.75);
  border-radius: 40px;
  width: 300px;
  text-align: center;
  }

h4{
  font-size:50px;
  display: inline;
  font-family: "Courier New";
  color: #f8f8f8;
}


.button{
  padding-right: 10px;
  border-radius: 50px;
  background: #5a99ee;
}

.chatContainer{
  position: absolute;
  width: calc(100% - 150px);
  height: calc(100% - 200px);
  border-radius: 15px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
  background-color: rgba(255,255,255,.68);
  font-family: "Arial";
}

.msgList {
    padding: 0;
    font-size: 18px;
  	margin: 0;
  	height: calc(100% - 100px);
  	overflow: scroll;
    
}

.msgList li {
    margin-bottom: 10px;
    overflow: auto;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    animation: animateElement linear .3s;
    animation-iteration-count: 1;
}

@keyframes animateElement{
  0% {
    opacity:0;
    transform:  translate(0px,10px);
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px);
  }
}

.choose{
  display: inline;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: : 40px;
      
}
.choose2{
  display: inline;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.msgList .avatar {
    float: left;
    width: 48px;
}

.msgList .avatar img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
}

.msgList .avatar2 {
    float: right;
    width: 48px;
}


.msgList .chat-message {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #994c04;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}


.msgList .chat-message.hover {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #994c04;
    text-overflow: ellipsis;
    padding: 10px 20px;
    cursor: pointer;
    word-break: break-all;
    overflow:hidden;
    white-space: nowrap;
    width:1000px;
    height: 50px; 
    text-overflow: ellipsis;
    
}

.msgList .chat-message.hover:hover{
    overflow: visible; 
    white-space: normal;
    height:auto;  
}


.msgList .chat-message:before {
    content: "";
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
}


.msgList .chat-body {
    margin-left: 20px;
    float: left;
    width: 70%;
}

.msgList .recived .chat-message:before {
    left: -12px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #994c04;
}

.msgList .send . {
    float: right;
}

.msgList .sent .chat-body {
    float: right;
    margin-right: 20px;
    text-align: right;
}

.msgList .sent .chat-message {
    background: #ef955d;
}

.msgList .sent .chat-message:before {
    right: -12px;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #ef955d;
}

.content{
    margin-top:40px;    
}

.bottom_container {
  position: relative;
  width: 100%;
  background-color: rgba(255,255,255,.68);
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
}

.bottom_container .message_container {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;

}

.bottom_container .message_container .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  outline-width: 0;
  color: black;
  background-color: rgba(255,255,255,.68);

}

.bottom_container .sendmess{
  float:right;
  width: 140px;
  height: 50px;
  background-color: #ef955d;
}

.effect:focus,

.effect ~ .focus-border{
  position: absolute; 
  height: 0; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  z-index: -1;
}

.effect:focus ~ .focus-border{
  height: 50px;
  border-radius: 25px;
  border: 1px solid #555931;
  width: 100%;
  z-index: 1;
 }



