*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
 
  overflow: hidden;
  background-image: url("hintergrund3.jpg");
  background-size: cover;
}

.container {
  padding: 1px 0;
  color: #fff;
  font-family: "Comfortaa", "Helvetica", sans-serif;
}

.login {
  max-width: 280px;
  min-height: 500px;
  margin: 30px auto;
  background-color: rgba(10,10,10,.68);
}

.login_icon {
  padding-top: 40px;
  height: 250px;
  width: 100%;
  text-align: center;  /*background-color: red;*/
}


.login-icon {
  margin: auto;
}

.login-form {
  text-align: center;
  padding-bottom: 40px;
  padding-top: -20px;

}

.field{
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
  display: inline-block;
  --uiFieldHeight: var(--fieldHeight, 40px);  
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldBorderColor: var(--fieldBorderColor);

  --uiFieldFontSize: var(--fieldFontSize, 1em);
  --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);   

  position: relative;
  box-sizing: border-box;
  font-size: var(--uiFieldFontSize);
  padding-top: 1em;  

}

.field__input{ 
  background-color: transparent;
  border-radius: 0;
  border: none;
  height: 120px;
  width:  200px;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: 1em;
  
}

.field__input:focus::-webkit-input-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
  color: var(--uiFieldPlaceholderColor);
  opacity: 1;
}

.field{
  display: inline-block;
}

.input_wrap{ 
  display: block;
  box-sizing: border-box;
}

.input_wrap:focus{
  outline: none;
}

.a-field{
  --uiFieldHeight: var(--fieldHeight, 40px);  
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldBorderColor: var(--fieldBorderColor);

  --uiFieldFontSize: var(--fieldFontSize, 1em);
  --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);   

  position: relative;
  box-sizing: border-box;
  font-size: var(--uiFieldFontSize);
  padding-top: 1em;  
}

.field .input_wrap{
  height: var(--uiFieldHeight);
  padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);  
}

.field .input_wrap::-webkit-input-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field .input_wrap::-moz-placeholder{
  opacity: 0;
  transition: opacity .2s ease-out;
}

.field .input_wrap:not(:placeholder-shown) ~ .field_label_wrap .input_label{
  opacity: 1;
  bottom: var(--uiFieldHeight);
}

.field .input_wrap:focus::-webkit-input-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.field .input_wrap:focus::-moz-placeholder{
  opacity: 1;
  transition-delay: .2s;
}

.field .field_label_wrap{
  box-sizing: border-box;
  width: 100%;
  height: var(--uiFieldHeight); 
  opacity: 0.5;
  pointer-events: none;
  cursor: text;

  position: absolute;
  bottom: 0;
  left: 0;
}

.field .input_label{
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  bottom: calc(50% - .5em);

  line-height: 1;
  font-size: var(--uiFieldHintFontSize);

  pointer-events: none;
  transition: bottom .2s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity .2s ease-out;
  will-change: bottom, opacity;
}

.field .input_wrap:focus ~ .field_label_wrap .input_label{
  opacity: 1;
  bottom: var(--uiFieldHeight);
}


.field_label_wrap:after{
  content: "";
  box-sizing: border-box;
  width: 0;
  height: var(--uiFieldBorderWidth);
  background-color: var(--fieldBorderColorActive);

  position: absolute;
  bottom: 0;
  left: 0;  

  will-change: width;
  transition: width .285s ease-out;
}

.input_wrap:focus ~ .field_label_wrap:after{
  width: 100%;
}

.field{
  --fieldBorderColor: #ffff;
  --fieldBorderColorActive: #c76116;
}

body {
    display: grid;
    font-family: Avenir, sans-serif;
    color: #111;
}


.cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all .2s ease;
    cursor: pointer;
    text-align: center;
    width: 195px;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(239, 118, 80, 0.5);
    width: 56px;
    height: 56px;
    transition: all .3s ease;
}

.cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #ef7650;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.96);
}
